/*LOGO*/
body{
    background: linear-gradient(135deg, #000000, #001f3f, #0077ff);
    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

/* ANIMAÇÃO DO BACKGROUND DO BODY */
    @keyframes gradientMove {
        0% { background-position: 0% 50%;}
        50% { background-position: 100% 50%;}
        100% { background-position: 0% 50%;}}

/*HEADER*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
   background: rgba(0,0,0,0.05);
   box-shadow: 0px 2px 8px rgba(0,0,0,3);
}


.logo{
    max-height: 300px;
    width: auto;
    max-width: 30%;
    margin-bottom: 8px;
    animation: fadeIn 2s ease;
}
/*ANIMAÇÃO DA LOGO*/
@keyframes fadeIn {
    from { opacity: 0; transform: translate(-20px);}
    to { opacity: 1; transform: translate(0);} }


.frase-motivacional{
    font-family: 'Lobster Two', cursive;
    font-size: 20px;
    text-align: center;
    color: #7FFF00;
    text-shadow: 
    0 0 5px #7FFF00,
    0 0 10px #7FFF00,
    0 0 20px #7FFF00,
    0 0 30px #7FFF00;
    letter-spacing: 1.8px;
    margin: 10px auto 20px auto;
    max-width: 700px;
    animation: neonPulse 2.5s ease-in-out infinite alternate;  
   }

/*ANIMAÇÃO DA FRASE MOTIVACIONAL*/
@keyframes neonPulse {
    0% {
        text-shadow: 
        0 0 5px #00aaff,
        0 0 10px #00aaff,
        0 0 20px #0077ff,
        0 0 40px #0077ff;
        opacity: 0.9;
    }
    100% {
        text-shadow: 
         0 0 10px #00ffcc,
         0 0 20px #00ffcc,
         0 0 40px #00ffcc,
         0 0 80px #00ffcc;
         opacity: 1;
    }}

/*MENU HORIZONTAL*/
.menu-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 5px;
}

.menu-item{
    position: relative; /*NECESSÁRIO PARA SUBMENU*/
}
/*BOTÕES DO MENU*/
.toggleMenu{
    background-color: rgba(0, 255, 153, 0.15);
    color:#7FFF00;
    border: 1px solid rgba(0, 255, 153, 0.3);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;    
}

.toggleMenu:hover{
    background-color: rgba(0, 255, 153, 0.3);
    color: #fff;
    transform: translateY(-5px);
    font-size: 20px;
    box-shadow: 0 5px 5px black;
}

/*SUBMENU NEON */
.submenu{
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0,0,0,0.7);
    border-radius: 8px;
    display: none;
    flex-direction: column;
    min-width: 200px;
    z-index: 100;    

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/*MOSTRAR SUBMENU NO HOVER*/
.menu-item:hover .submenu{
    display: flex;
    opacity: 1;
    transform: translateY(0);
    }

/*LINKS DO SUBMENU*/
.submenu ul{
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
gap: 10px;
}
.submenu ul li a {
    display: block;
    padding: 8px 8px;
    text-align: center;
    color: #00ff99;
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(0, 255, 153, 0.1);
    margin: 8px;
    box-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99;
    transition: all 0.3s ease;
}

.submenu ul li a:hover{
    background-color: rgba(0, 255, 153, 0.3);
    color: #fff;
    box-shadow: 0 0 15px #00ff99, 0 0 30px #00ff99, 0 0 45px #00ff99;
    
}
